* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(196, 198, 200);
}

/* Стилове за групата с радиобутони */
.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* Разстояние между бутоните */

    /* position: relative; */

}

.radio-group label {
    font-weight: bold;
    display: flex;
    /* gap: 30px; */


}

.radio-img {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 120px;
    /* Променете тази стойност спрямо вашия дизайн */
    width: 50px;
    height: 80px;
    left: -5px;


}

.radio-group div {
    height: 20px;
}



/* Стилове за контейнера на таблицата */
.table-container {
    margin: 20px auto;
    /* Центриране на контейнера */
    padding: 0 20px;
    /* Празно пространство от ляво и дясно */
    max-width: 800px;
    /* Максимална ширина на контейнера */
    padding-bottom: 120px;
    position: static;
}

/* Стилове за таблицата */
#dynamic-table {
    width: 100%;
    border-collapse: collapse;
    /* Останалите стилове за таблицата */
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(220, 219, 219);
}

/* Фиксирана височина на клетките след реда със заглавия */
#dynamic-table tbody td {
    height: 10px;
    background-color: white;
    margin-bottom: 100px;
}

/* Стилове за бутона "Генерирай" */
#generate-button {
    position: fixed;
    /* Фиксирана позиция */
    top: 20px;
    /* Отстояние от върха на страницата */
    right: 20px;
    /* Отстояние от дясно */
    z-index: 1;
    /* Задължително, за да бъде бутона над всички други елементи */
    width: 120px;
    /* Ширина на бутона */
    height: 40px;
    /* Височина на бутона */
    font-size: 16px;
    /* Големина на шрифта */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;

}

.header h1 {
    margin-right: 50px;
    

    /* Разтояние между заглавието и радиобутоните */
}



#clear-table {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    /* Превключваме контейнера към flex */
    transition: 5s;
    width: 350px;
    height: 150px;
}

@media screen and (max-width: 800px) {

    /* Промяна при ширина на екрана под 600px */
    #clear-table {
        width: 70px;
        /* Нова ширина при свиване на екрана */
        height: 70px;
        /* Нова височина при свиване на екрана */
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    /* Бял цвят с прозрачност 0.5 */
    display: flex;
    justify-content: center;
    width: 100%;
    /* или по ваш избор */
    padding: 20px;
    /* Примерни стилове */
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 20px;
    position: fixed;
    bottom: 0;

}

a {
    text-decoration: none;
    color: white;
    font: italic;
}

.invalid-input {
    border: 2px solid red;
    /* Дебелина и цвят на рамката */
}